.card {
  margin: 1rem auto;
  border-radius: 4px;
  background-color: rgb(243, 244, 245);
  padding: 1rem;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.cardImg {
  width: 18rem;
  height: 18rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardImg img {
  height: 100%;
  width: auto;
}

.actions {
  display: flex;
  align-items: stretch;
  margin: 1rem auto;
}

.card p {
  color: #3a3a3a;
}

button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.liked svg,
.closeBtn svg:hover {
  fill: rgba(239, 49, 36, 0.85);
}

.closeBtn {
  background-color: rgb(243, 244, 245);
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 18rem;
  transition: all 0.3s ease;
}

.closeBtn:hover {
  transform: scale(1.2);
}

.closeBtn svg {
  fill: #3a3a3a;
}
