@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Blinker", sans-serif;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  background-color: transparent;
  color: rgba(239, 49, 36, 0.85);
  border: 1px solid rgba(239, 49, 36, 0.85);
}

button:hover,
button:active {
  background-color: rgba(239, 49, 36, 0.85);
  border-color: rgba(239, 49, 36, 0.85);
  color: white;
} */
